#Title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: 90px;
}

#question {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 28px;
    /* font-weight: bold; */
}

#mediaSearch {
    padding: 5px;
}

#theMovie {
    font-family: 'Limelight', cursive;
}

#theBook {
    font-family: 'Berkshire Swash', cursive;
}

.border-right {
    border-right: 1.5px solid lightgray;
}